<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">O</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/shopping-cart">Shopping Cart
                    <span class="bage badge-pill badge-warning" *ngIf="cart$ | async as cart">{{cart.getCartCount()}}</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" *ngIf="appUser ; else anonymousUser"
                    ngbDropdown id="navbarDropdown" role="button" ngbDropdownToggle>
                    {{appUser.name}}
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
                        <ng-container *ngIf="appUser.isAdmin">
                            <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                            <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
                        </ng-container>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                    </div>
                </a>
            </li>
            <ng-template #anonymousUser>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
            </ng-template>

            <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>-->
        </ul>
        <!--form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
</nav>